version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: teste
      POSTGRES_USER: teste_user
      POSTGRES_PASSWORD: teste_password
    ports:
      - "5432:5432"  
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
